body{
    margin: auto;
}

 #employee-container {
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.employee-card {
    box-sizing: border-box;
    margin-top: 50px;
    display: flex;
    width: 26%;
    flex-direction: column;
    align-items: center;
    padding: 1.5% 2.5% 2% 2.5%;
    background-color: #477D57;
    border-radius: 30px;
}
 .employee-img-div{
width: 100%;
display: flex;
justify-content: center;
 }
 
.employee-img {
    width: 100%;
}
.employee-info-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.employee-info-div p {
    margin-top: 5%;
    font-size: 75%;
    color: #D0D7A7;
}