body{
    margin: auto;
}

#employee-container {
    width: 56%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.employee-card {
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    padding: 1.5% 2.5% 1.5% 2.5%;
    background-color: #477D57;
    border-radius: 10px;
}
.employee-img-div {
    height: 67%;
    display: flex;
    justify-content: center;
}
 
.employee-img {
    width: 100%;
}
.employee-info-div {
    height: 33%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.employee-info-div p {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 75%;
    color: #D0D7A7;
}